torch
fairscale
fire
sentencepiece
langchain
llama-hub
pypdf
sentence-transformers 
qdrant-client 
pymilvus
chromadb
elasticsearch
weaviate-client
docx2txt
transformers-stream-generator 
text2vec
nltk
gpt4all
auto-gpt-plugin-template
transformers